#contact {
    background-color: black;
    background-image: url("https://cdn.pixabay.com/photo/2018/01/11/21/27/laptop-3076957_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 45px;
    font-family: 'Playfair Display SC', serif;
}

.fab {
    font-size: 52px;
}
#conRow {
    margin-top: 20px;
    margin-left: 20px;
}
.align-text-bottom {
    position: relative ;
    color: black;
    font-weight: bold;
}
#name,
#email, 
#message {
    width: 80%;
    font-weight: bold;
}
#message {
    height: 200px;
}
#form {
    padding-left: 20px;
}

label {
    font-weight: bold;
    font-size: 25px;
}
input {
    height: 40px;
}