#home {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Playfair Display SC', serif;
}
#about {
    background-color: black;
    background-image: url(https://cdn.pixabay.com/photo/2017/03/14/08/10/wood-2142241_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 45px;
    font-family: 'Playfair Display SC', serif;
}
#aboutText{
    background-color: rgb(255,228,196,.5);
}
.text-muted{
    padding: 30px;
}

/* carousel */
.carousel, .carousel-inner {
    height: 100%;
}
.carousel-caption {
    top: 50%; 
    bottom: auto;
    -webkit-transform: translate(0, -50%); 
    -ms-transform: translate(0, -50%); 
    transform: translate(0, -50%);
}
.sr-only .carousel-control-prev-icon {
    background-color: black;
    color: black;
}
h1, p{
    color: black;
    text-align: center;
}
#go, #cv {
    margin-top: 30px;
}
#name2 {
    font-weight: bolder;
    font-size: 50px;
}


