/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    font-family: 'Playfair Display SC', serif;
}
.sidebar-sticky {
    text-align: center;
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.nav-link {
    color: black;
    font-weight: bold;
}
#name1 {
    padding-top: 12px;
    text-align: center;
}
#name1, #title {
    /* font-size: 12px; */
    font-weight: bold;
}
#title2 {
    /* font-size: 12px; */
    padding-bottom: 12px;
    font-weight: bold;
}
.nav-item:hover {
    background-color:#48D1CC;
}

