#portfolio {
    background-color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    font-family: 'Playfair Display SC', serif; 
    padding:0px 40px 0px 40px;
    margin-bottom: 20px;
}
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(460px, -100px) rotate(180deg);
    -ms-transform: translate(460px, -100px) rotate(180deg);
    transform: translate(460px, -100px) rotate(180deg);
    -webkit-transition: all 0.2s 0.4s ease-in-out;
    transition: all 0.2s 0.4s ease-in-out;
}
.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}
.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}
.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
.hovereffect:hover h2 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.hovereffect:hover a.info {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s
}
#desc {
    color: bisque;
}
#portCard , #img-responsive{
    height: 320px;
    width: 336px;
    padding: 0%;
}

/* Small devices (landscape phones, 460px and up) */
@media (min-width: 460px) {
    #portfolio {
        height: auto;
    }
    .img-fluid {
        max-width: 100%;
    }
    #form {
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #portfolio {
        height: auto;
    }
}

/* Large devices (desktops, 920px and up) */
@media (min-width: 920px) {
    /* .img-responsive {
        height: 275px;
        width: 300px;
    } */
    #portfolio {
        height: auto;
    }
    #row2 {
        margin-bottom: 30px;
        margin-top: 0%;
    }
    #portCard {
        height: 300px;
    }
    #row1 {
        margin-top: -10px;
    }
    .hovereffect a.info {
        margin: 0;
    }
    .text-muted {
        padding: 20px;
    }
    .hovereffect .overlay {
        height: 275px;
    }
}